.navbar-container li {
    list-style: none;
    margin-top: 5px;
}

.navbar-container {
    background-color: #3CB5DE;
    height: 3.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-container ul {
    display: flex;
    justify-content: space-around;
}

.search-img {
    width: 2.7em;
}